.container {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border: 1px solid #3e5f91;
  border-radius: 20px;
  color: #445461;
  display: block;
  margin: 60px auto;
  max-width: 800px;
  padding: 40px 40px 10px 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  color: #445461;
  font-size: 60px;
}

h2 {
  color: #445461;
  font-size: 20px;
}

h3 {
  color: #445461;
  font-size: 100px;
  text-align: center;
}

ul {
  display: block;
  margin: 0 auto;
}
li {
  list-style: none;
  text-align: left;
}

i {
  font-size: 80px;
  color: #325c93;
  opacity: 60%;
}

#celsius {
  font-size: 25px;
}

#fahrenheit {
  font-size: 25px;
}

#search-text-input {
  border-radius: 5px;
  border-color: #fff;
  display: block;
  font-size: 18px;
  margin: 20px auto;
  padding: 10px;
}

.btn-secondary {
  box-sizing: border-box;
  display: block;
  font-size: 20px;
  margin: 20px auto;
  padding: 10px auto;
}

.btn-light {
  background-color: #3e5f91;
  color: #fff;
  display: block;
  margin: 15px auto;
  padding: 10px 60px 10px 60px;
}

.card-title {
  color: #445461;
  font-size: 20px;
  margin: 10px auto;
  text-align: center;
}

.card-text {
  color: #445461;
  font-size: 30px;
  text-align: center;
}

.card-body {
  background-image: #fff;
  border-radius: 20px auto;
}

.credit {
  color: #445461;
  text-align: center;
}
