.container {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border: 1px solid #3e5f91;
  border-radius: 15px;
  color: #445461;
  display: block;
  margin: 60px 60px 10px 60px;
  max-width: 750px;
  padding: 40px 40px 30px 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  color: #445461;
  font-size: 60px;
  text-align: right;
  text-transform: capitalize;
}

h2 {
  color: #445461;
  font-size: 20px;
  text-align: right;
}

ul {
  display: block;
  margin: 0 auto;
}

li {
  font-size: 14px;
  list-style: none;
  text-align: right;
  text-transform: capitalize;
}

#unit {
  font-size: 25px;
}

#temperature {
  color: #445461;
  font-size: 70px;
  text-align: left;
}

#search-text-input {
  border-radius: 5px;
  border-color: #fff;
  display: inline-block;
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
}

#weather-icon {
  display: block;
  margin: 0 auto;
  width: 85%;
}

.btn-secondary {
  box-sizing: border-box;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  margin: 0 auto;
  padding: 15px 20px auto;
}

.weather-forecast-day {
  color: #445461;
  font-size: 22px;
  margin: 5px auto;
  opacity: 0.9;
  text-align: center;
}

.temperatures {
  color: #445461;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.credit {
  color: #445461;
  max-width: 800px;
  text-align: center;
}

.temp-max {
  opacity: 0.9;
}

.temp-min {
  opacity: 0.6;
}

.weather-pics {
  display: block;
  margin: 0 auto;
}
